<div class="pl-20">
  <div class="flex px-20 pt-30 pb-2 text-slate-300 text-5xl">Projects</div>
  <div class="px-20 pb-2 text-zinc-500">
    I love creating projects and applying my technical skills—here’s a
    collection of my work."
  </div>
</div>

<div class="px-20 pt-4 grid grid-cols-2 gap-6">
  <a href="https://beckerlogistics.com/" target="_blank">
    <div class="cursor-pointer pl-20">
      <img src="/becker.png" class="img-specs" />
      <div class="text-slate-300 py-2 text-lg border-b-2 border-b-zinc-500">
        Becker Logistics
      </div>
      <div class="text-zinc-500">
        <span class="font-bold"
          >Developed a logistics-focused Angular application</span
        >
        that seamlessly integrated three data sources, enabling precise shipment
        rate calculations and reducing manual errors by
        <span class="font-bold">50%</span>, enhancing client satisfaction and
        operational efficiency.
      </div>
      <div class="text-zinc-500">
        <span class="font-bold">Streamlined authentication</span> by unifying
        three applications into a single sign-in system, reducing login time by
        40% and increasing client efficiency by
        <span class="font-bold">25%.</span>
      </div>
      <div class="text-zinc-500">
        Enhanced user experience with a customizable
        <span class="font-bold"
          >theme option, optimizing readability and accessibility.</span
        >
      </div>
    </div>
  </a>
  <a href="https://www.jbhunt.com/" target="_blank">
    <div class="cursor-pointer pr-20">
      <img src="/jbhunt.png" class="img-specs" />
      <div class="text-slate-300 py-2 text-lg border-b-2 border-b-zinc-500">
        JB HUNT
      </div>
      <div class="text-zinc-500">
        Migrated the UI from Bootstrap to PrimeNG using Angular, enhancing
        usability and reducing bugs by <span class="font-bold">15%</span>.
      </div>
      <div class="text-zinc-500">
        <span class="font-bold">Refactored legacy code</span>, stabilizing
        critical workflows and identifying key issues that caused crashes during
        peak usage, improving application reliability.
      </div>
      <div class="text-zinc-500">
        <span class="font-bold">Optimized backend Java services</span>, reducing
        Common Vulnerabilities and Exposures (CVEs) by
        <span class="font-bold">90%</span>, significantly enhancing security and
        performance.
      </div>
    </div>
  </a>
  <a href="https://github.com/viswayadeedya/expense-tracker" target="_blank">
    <div class="pl-20 cursor-pointer pr-20">
      <img src="/expense.png" class="img-specs filter-img" />
      <div class="text-slate-300 py-2 text-lg border-b-2 border-b-zinc-500">
        Expense Tracker
      </div>
      <div class="text-zinc-500">
        <span class="font-bold">Expense Tracker</span> is a full-stack web
        application that enables users to
        <span class="font-bold">manage their expenses</span>, track spending
        patterns, and generate category-wise reports with an intuitive
        dashboard. It ensures real-time updates, secure authentication, and a
        seamless user experience using
        <span class="font-bold">Angular</span> and
        <span class="font-bold">Spring Boot.</span>
      </div>
    </div>
  </a>
  <a href="https://github.com/viswayadeedya/yourstory-frontend" target="_blank">
    <div class="cursor-pointer pr-20 pl-20">
      <img src="/yourstory.png" class="img-specs filter-img" />
      <div class="text-slate-300 py-2 text-lg border-b-2 border-b-zinc-500">
        YOUR STORY
      </div>
      <div class="text-zinc-500">
        <span class="font-bold">"YOUR STORY"</span> is a dynamic and
        user-friendly web platform that empowers writers to share, publish, and
        discover engaging stories, similar to
        <span class="font-bold">Wattpad</span>. Built with
        <span class="font-bold">Angular</span>,
        <span class="font-bold">PrimeNG</span>, and
        <span class="font-bold">Node.js</span>, it provides an immersive reading
        experience with real-time interactions.
      </div>
    </div>
  </a>
  <div class="pr-20">
    <img src="/EDI Converter.png" class="img-specs filter-img" />
    <div class="text-slate-300 py-2 text-lg border-b-2 border-b-zinc-500">
      EDI CONVERTOR
    </div>
    <div class="text-zinc-500">
      <span class="font-bold">EDI Converter</span> is a robust enterprise tool
      that automates the conversion of
      <span class="font-bold">Electronic Data Interchange</span> (EDI) files
      into readable, structured PDF documents. Built with
      <span class="font-bold">Angular, PrimeNG, and Spring Boot</span>, it
      enhances data interoperability, document processing, and business
      communication.
    </div>
  </div>
  <a href="https://github.com/viswayadeedya/TikTacToe/" target="_blank">
    <div class="cursor-pointer pr-20">
      <img src="/Tic Tac Toe.png" class="img-specs filter-img" />
      <div class="text-slate-300 py-2 text-lg border-b-2 border-b-zinc-500">
        TIC TAC TOE
      </div>
      <div class="text-zinc-500">
        A <span class="font-bold">Python-based</span> Tic-Tac-Toe game with a
        <span class="font-bold">user login system</span>, allowing two players
        to compete in a turn-based game. Built using Tkinter for the GUI and
        <span class="font-bold">SQLite</span> for user authentication, the game
        tracks wins and supports session-based play.
      </div>
    </div>
  </a>
</div>
