<div id="contact" class="py-40 text-center">
  <h1 class="text-3xl text-slate-300">Reach out to me at</h1>
  <div class="pt-12 flex justify-center pt-4 text-slate-300">
    <a
      href="https://www.linkedin.com/in/viswayadeedya/"
      target="_blank"
      class="flex mr-4 bg-zinc-800 p-1 px-2 rounded-xl hover:underline hover:underline-offset-8"
    >
      <img class="img-specs" src="/LinkedIn.png" alt="LinkedIn" /><span
        class="content-center pl-1"
        >LinkedIn</span
      >
    </a>
    <a
      href="https://www.instagram.com/viswayadeedya/"
      target="_blank"
      class="flex mr-4 bg-zinc-800 p-1 px-2 rounded-xl hover:underline hover:underline-offset-8"
    >
      <img
        class="img-specs"
        src="/icons8-instagram-48.png"
        alt="Instagram"
      /><span class="content-center pl-1">Instagram</span>
    </a>
    <a
      href="https://x.com/viswayadeedya"
      target="_blank"
      class="flex mr-4 bg-zinc-800 p-1 px-2 rounded-xl hover:underline hover:underline-offset-8"
    >
      <img class="img-specs img-filter" src="/twitter.png" alt="Twitter" /><span
        class="content-center pl-1"
        >Twitter</span
      >
    </a>
  </div>
</div>
