<div
  #navbar
  class="w-full bg-zinc-800 border-b border-neutral-50 flex justify-between px-14 py-4 opacity-0 -translate-y-full transition-all duration-700 ease-out fixed top-0 left-0"
>
  <div class="cursor-pointer" routerLink="/">
    <span class="text-2xl text-slate-400">&#123;</span>
    <span class="text-2xl text-neutral-50"> V Y </span>
    <span class="text-2xl text-slate-400">&#125;</span>
  </div>
  <div class="text-lg">
    <a
      routerLink="/"
      fragment="about"
      class="cursor-pointer text-zinc-400 px-2 hover:underline hover:underline-offset-8"
      >Home</a
    >
    <a
      routerLink="/"
      fragment="projects"
      class="cursor-pointer text-zinc-400 px-2 hover:underline hover:underline-offset-8"
      >Projects</a
    >
    <a
      routerLink="/"
      fragment="contact"
      class="cursor-pointer text-zinc-400 px-2 hover:underline hover:underline-offset-8"
      >Contact Me</a
    >
  </div>
</div>
