<div id="projects" class="pl-20">
  <div class="flex px-20 pt-30 text-slate-300 text-4xl">What I've Built.</div>
  <div class="px-20 text-zinc-500">Here are some of my projects.</div>
  <div class="flex px-20 pb-10 cursor-pointer">
    <a
      routerLink="/projects"
      class="text-slate-300 p-0 hover:underline hover:underline-offset-8"
    >
      See all Projects ->
    </a>
  </div>
</div>

<div class="px-20 grid grid-cols-2 gap-6">
  <a href="https://beckerlogistics.com/">
    <div class="cursor-pointer pl-20">
      <img src="/becker.png" class="img-specs" />
      <div class="text-slate-300 py-2 text-lg border-b-2 border-b-zinc-500">
        Becker Logistics
      </div>
      <div class="text-zinc-500">
        <span class="font-bold"
          >Developed a logistics-focused Angular application</span
        >
        that seamlessly integrated three data sources, enabling precise shipment
        rate calculations and reducing manual errors by
        <span class="font-bold">50%</span>, enhancing client satisfaction and
        operational efficiency.
      </div>
      <div class="text-zinc-500">
        <span class="font-bold">Streamlined authentication</span> by unifying
        three applications into a single sign-in system, reducing login time by
        40% and increasing client efficiency by
        <span class="font-bold">25%.</span>
      </div>
      <div class="text-zinc-500">
        Enhanced user experience with a customizable
        <span class="font-bold"
          >theme option, optimizing readability and accessibility.</span
        >
      </div>
    </div>
  </a>
  <div class="cursor-pointer pr-20">
    <a href="https://www.jbhunt.com/" target="_blank">
      <img src="/jbhunt.png" class="img-specs" />
      <div class="text-slate-300 py-2 text-lg border-b-2 border-b-zinc-500">
        JB HUNT
      </div>
      <div class="text-zinc-500">
        Migrated the UI from Bootstrap to PrimeNG using Angular, enhancing
        usability and reducing bugs by <span class="font-bold">15%</span>.
      </div>
      <div class="text-zinc-500">
        <span class="font-bold">Refactored legacy code</span>, stabilizing
        critical workflows and identifying key issues that caused crashes during
        peak usage, improving application reliability.
      </div>
      <div class="text-zinc-500">
        <span class="font-bold">Optimized backend Java services</span>, reducing
        Common Vulnerabilities and Exposures (CVEs) by
        <span class="font-bold">90%</span>, significantly enhancing security and
        performance.
      </div>
    </a>
  </div>
</div>
