<div id="about" class="px-20 pt-8">
  <img
    class="w-40 filter"
    src="https://svgsilh.com/svg/26432.svg"
    alt="background"
  />
  <div class="pl-20 pt-50">
    <p class="text-slate-400 text-2xl">Hey! I'm-</p>
    <h1 class="text-neutral-50 text-9xl">Viswa Yadeedya</h1>
    <img
      src="/my-picture.jpg"
      alt="my pic"
      class="specs object-cover rounded-full border-4 border-gray-400 shadow-xl"
    />
    <p class="text-slate-300 text-xl p-0 pt-4">
      <span class="font-bold">Software Developer</span> with experience in
      full-stack web development, transforming ideas into efficient and
      user-friendly applications. I specialize in Angular, JavaScript,
      TypeScript, HTML5, CSS3, PrimeNG, Bootstrap, and Tailwind CSS for building
      dynamic frontends, while leveraging Java, Spring Boot, and Python for
      scalable backend solutions.
    </p>
    <p class="text-slate-300 text-xl p-0 pt-4">
      Focus on responsive design, component-based architecture, and state
      management, ensuring seamless user experiences. Proficient in RESTful
      APIs, Git, Postman, IntelliJ, and Visual Studio Code, I thrive on
      problem-solving, optimizing performance, and implementing data structures
      and algorithms for robust applications.
    </p>
    <div class="flex pt-4 text-slate-300">
      <a
        href="https://www.linkedin.com/in/viswayadeedya/"
        target="_blank"
        class="flex pr-4 cursor-pointer hover:underline hover:underline-offset-8"
      >
        <img class="img-specs" src="/LinkedIn.png" alt="LinkedIn" /><span
          class="content-center pl-2"
          >LinkedIn</span
        >
      </a>
      <a
        href="https://github.com/viswayadeedya"
        target="_blank"
        class="flex pr-4 cursor-pointer hover:underline hover:underline-offset-8"
      >
        <img class="img-specs img-filter" src="/github.png" alt="GitHub" /><span
          class="content-center pl-2"
          >Github</span
        >
      </a>
      <a
        href="https://x.com/viswayadeedya"
        target="_blank"
        class="flex cursor-pointer hover:underline hover:underline-offset-8"
      >
        <img
          class="img-specs img-filter"
          src="/twitter.png"
          alt="Twitter"
        /><span class="content-center pl-2">Twitter</span>
      </a>
    </div>
  </div>
</div>
